<div id="login-page" class="row col s12" ng-controller='registerApp.loginController as vm'> 

    <div class="col s8 offset-s2 z-depth-4 card-panel center" >
      {{::vm.message}}
      <form class="login-form">
        <div class="row">
          <div class="input-field col s12 center">
            <p class="center login-form-text">Material Design Login Template</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="username" type="text">
            <label for="username" class="center-align">Username</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">          
          <div class="input-field col s12 login-text">
              <input type="checkbox" id="remember-me" />
              <label for="remember-me">Remember me</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <a href="index.html" class="btn waves-effect waves-light col s12">Login</a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <p class="margin medium-small"><a href="#register">Register Now!</a></p>
          </div>
          <div class="input-field col s6">
            <p class="margin right-align medium-small"><a href="#remind">Forgot password ?</a></p>
          </div>          
        </div>

      </form>
    </div>
  </div>
  
</div>