  <div id="login-page" class="row col s12" ng-controller='registerApp.loginController as vm'> 

    <div class="col s8 offset-s2 z-depth-4 card-panel center" >
      
      <form class="login-form col s12">
        <div class="row">
          <div class="input-field col s12">
          <img src="http://demo.geekslabs.com/materialize/v3.1/images/login-logo.png"
               alt="" 
               class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">Styled on Material Design</p>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_box</i>
            <input ng-model="vm.username" id="username" type="text">
            <label for="username" class="center-align">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input ng-model="vm.password" id="password" type="password">
            <label for="password" class="center-align">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <a ng-click="vm.login()" class="btn waves-effect waves-light col s12">Login</a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <p class="margin medium-small"><a href="#register">Register Now!</a></p>
          </div>
          <div class="input-field col s6">
            <p class="margin right-align medium-small"><a href="#/">Forgot password ?</a></p>
          </div>          
        </div>

      </form>
    </div>
  </div>
  